section.dashboard{
    padding: 50px; 
    h2{ margin: 0 15px 10px; color: #605ecc; }  
    h3{ margin: 0 15px 5px; color: #211f80; font-weight: 600; font-size: 20px; }  
    > p{ margin: 0 15px 50px; color: #211f80; font-weight: 300; line-height: 20px; }
    .dashboard-list{
        display: flex; justify-content: space-evenly;  flex-wrap: wrap;
        dl{
            font-size: 14px; width: 220px; margin:0 0 30px; box-sizing: border-box; box-shadow: 1px 2px 6px #ccc; background: #ffffff; text-decoration: none; transition: all .3s; border-radius: 15px; padding: 20px;
            dt{ font-size: 16px; font-weight: 600; color: #605ecc;  }
            dd{ 
                margin: 10px 0 0; color: #211f80; font-weight: 300; line-height: 20px; 
                a{ 
                    text-decoration: none; transition: all .3s; border: 1px solid #fd8a06; text-align: center; border-radius: 15px; padding: 10px; display: block; margin-top: 20px; 
                    &:hover{ color: #ffffff; border: 1px solid #605ecc; background-color: #605ecc; }
                }
                p{
                    overflow: hidden; width: 100%; display: -webkit-box; -webkit-line-clamp: 8; -webkit-box-orient: vertical; font-size: 12px; line-height: 16px;
                }
            }
            &:last-child{
                width: 70%; 
            }
        }
    }
    table{
        border: 1px solid #605ecc; border-radius: 15px; width: 100%; margin: 20px 10px;
        > *:not(tr){
            display: table-row-group;
        }
        * {
            margin: 0; padding: 0;
        }
        tr:first-child *{
            color: var(--primary-color); font-weight: bold; font-size: 14px;  padding: 10px 20px; background-color: #605ecc25; border-bottom: 1px solid #605ecc;vertical-align: middle;
        }
        tr:not(first-child) *:not(img){
            color: #211f80; font-weight: 300; font-size: 14px;  padding: 10px 20px; background-color: #e4e4e425; vertical-align: top;
         
        }
        tr:not(first-child):hover {
            background-color: #7e434325;transition: all .3s; cursor: pointer;
        }
    }
}
